# Temp/build files.
t.*
*.o
*.hi

# Build system's directories.
dist/
build/
.stack-work/
sgf-xmonad.cabal

# Vim
.*.swo
.*.swp

# Any other..
nohup.out
xmonad.errors
xmonad.state
xmonad-x86_64-linux
